NODE_ENV=production
PORT=3000
JWT_SECRET=80a9c44adfbc14ab2f80a17014567b3ba2b6b44c859c9392d4f25e52e2ab79832302691523134cbe16a3daa69b0a79da
CLIENT_URL=https://greenyellow-dugong-616618.hostingersite.com
MONGODB_URI=mongodb+srv://dridiomar615_db_user:KT9gPNch9GCSKQzo@m0free.etbkbxz.mongodb.net/beauty_center?retryWrites=true&w=majority&appName=M0Free
